# Application properties
application.elasticemail.apikey=YOUR_API_KEY
application.elasticemail.from=noreply@driverlinkpro.com
application.elasticemail.fromName=DriverEntity Link Pro
application.jwt.secret=YOUR_SECRET_KEY
application.jwt.expiration=86400000
application.jwt.refresh.expiration=2592000000